:root {
    --main-text:#FDFDFD;
    --log-in:#121111;
    --input-background:#E7E7E7;
    --remember-me-label:#787878;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: url(./img/general-background.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}

header > * {
    color: var(--main-text);
}

nav > * {
    color: var(--main-text);
    font-family: Poppins;
}

.last-link {
    text-decoration: underline;
}

.box-login {
    background-color: var(--main-text);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 15px;
    border: solid 2px var(--log-in);
}

h1 {
    font-family: "Open Sans";
}

.box-login > h1 {
    text-align: center;
}

input {
    background-color: var(--input-background);
    border: solid 2px var(--log-in)
}

button {
    background-color: var(--log-in);
    color: var(--main-text);
}

.login-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.form-inputs {
    grid-row: 1 / 2;
}

.form-buttons {
    grid-row: 2 / 3;
    align-content: center;
    justify-self: center;
}
