*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root{
    --cor-branca:#FDFDFD;
    --cor-preto: #121111;
    --cor-input:#E7E7E7;
    --cor-label: #787878

}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/general-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:50px;
}

header{
    color:var(--cor-branca);
    width: 100%;
    display: flex;
    justify-content:space-around;
    gap:400px;
    align-items: center;
}
header h1{
    font-size: 20px;
    font-weight: bolder;
}
header nav{
    display: flex;
    gap: 30px;
}

nav a{
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}

.last-link{
    border-bottom: 1px solid var(--cor-branca);
}

.box-login{
    background-color: var(--cor-branca);
    height: 463px;
    width: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;
    border:solid 1px var(--cor-preto)
}

.box-login h1{
    color: var(--cor-preto);
    font-size: 36px;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[type=text], input[type=password]{
    background-color: var(--cor-input);
    border: 1px solid var(--cor-preto);
    height: 37px;
    width: 335px;
    padding-left: 30px;
    color: var(--cor-preto);
    font-size: 13px;
    font-weight: 200; 
    /* font weight manual pois ficou mais parecido */
    margin-bottom: 15px;
    font-style: italic;
}

input::placeholder{
    color: #121111;
}

.form-inputs img{
    height: 15px;
    width: 15px;
}

.icon-username{
    position: absolute;
    left: 10px;
    top:63px
}

.icon-password{
    position: absolute;
    left: 10px;
    top:10px ;
}


.form-sub-inputs{
    display: flex;
    width: 335px;
    justify-content: space-between;
    color: var(--cor-label);
    align-items: center;
    font-size: 13px;
    font-style: italic;
    margin-top: -10px;
}

input[type=checkbox]{
    width: 11px;
    height: 11px;
}

.form-sub-inputs a{
    text-decoration: none;
    color: var(--cor-label);
}

.form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap:10px
}

.form-buttons button{
    width: 146px;
    height: 37px;
    background-color: var(--cor-preto);
    color: var(--cor-branca);
    font-size: 13px;
    font-weight: normal;
}

.form-buttons a{
    text-decoration: none;
    color: var(--cor-preto);
    font-size: 13px ;
    font-weight: normal;
}

.form-sub-inputs a:hover, .form-buttons a:hover{
    text-decoration: underline;
}