* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("./img/general-background.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 35vw;
    background-color: var(--cor-textocima-divmeio);
    gap: 85px;
}



:root {
     --cor-textocima-divmeio: #FDFDFD;
     --h1-login-etc: #121111;
     --Fundo-inputs: #E7E7E7;
     --remenberme: #787878;  
    }

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -35px;
    color: var(--cor-textocima-divmeio);
    gap: 850px;
}

nav a {
    color: var(--cor-textocima-divmeio);
    text-decoration: none;
}

header h1 nav {
    gap: 15px;
}

nav {
    display: flex;
    gap: 20px;
}


.last-link {
    border-bottom: 1px solid white;
}

input {
    background-color: var(--Fundo-inputs);
    padding: 10px;
}

#username {
    width: 30vw;
}


.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 25px;
}

.form-sub-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 160px;
    
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

a {
    text-decoration: none;
    color: var(--remenberme);
}

.remember-label{
    color: var(--remenberme);
    position: relative;
}

button {
    background-color: #121111;
    border: 0;
    color: white;
    padding: 15px;
    width: 10vw;
}

.icon-password {
    position: relative;
    bottom: 46.5px;
    right: 120px;
    width: 30px;
    height: 30px;
}

.icon-username {
    position: relative;
    bottom: 44px;
    right: 118px;
    width: 25px;
    height: 25px;
}

.remember-box {
    position: relative;
    bottom: 40px;
}

.form-sub-inputs a {
    position: relative;
    bottom: 40px;
}





