* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/img/general-background.png);
  background-size: contain;
}

:root {
  --HeaderTypeColor: #fdfdfd;
  --InsideLoginTypeColor: #121111;
  --AvisoTypeColor: #787878;
  --BackFormColor: #e7e7e7;
}

header {
  height: fit-content;
  width: 100%;
  color: var(--HeaderTypeColor);
  display: flex;
  align-items: center;
  gap: 725px;
}

header h2 {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav {
  font-weight: medium;
  display: flex;
  gap: 35px;
  justify-content: right;
}

a {
  color: var(--HeaderTypeColor);
}
main {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.box-login {
  display: flex;
  height: 463px;
  width: 463px;
  background-color: var(--HeaderTypeColor);
  gap: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#username {
  display: flex;
  height: 37px;
  width: 335px;
  background-color: var(--BackFormColor);
  border: 0.5px solid black;
  padding: 25px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background-color: black;
  border: none;
  height: 37px;
  width: 146px;
  color: var(--HeaderTypeColor);
}

.form-buttons a {
  color: var(--InsideLoginTypeColor);
}

.icon-username {
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 38px;
  left: 4px;
}

.icon-password {
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 38px;
  left: 4px;
}

.form-sub-inputs {
  height: 37px;
  width: 335px;
  color: var(--AvisoTypeColor);
  font-size: small;
  display: flex;
  gap: 70px;
  position: relative;
  bottom: 22px;
  letter-spacing: 1px;
}

.form-sub-inputs a {
  color: var(--AvisoTypeColor);
  justify-content: right;
}
